.banner{
    width: 100%;
    height: 80vh;
    /* color: #fff; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://lh3.googleusercontent.com/2mWyGPjez0yodkydYp7L6MoH9cjewtQ3pi59yqIQNha7OpOoyVwVEOl4gz-zeMLdDKRBNA=s30");
    background-size: cover;
}
.banner h1{
    font-size: 5rem;
}
