.banner{
    width: 100%;
    height: 80vh;
    /* color: #fff; */
    display: flex;
    justify-content: center;
    background-image: url(https://lh3.googleusercontent.com/8rIs7ycfNDE7h0pX6swlTJ7LiyorVg-s27R5yyeDTi_8lVacdc3p-IguXWoGvSTaM1aIZA=s47");
    background-size: cover;
}
.banner h1{
    front-size: 5rem;
}
